@font-face {
  font-family: 'neon';
  src: url('../../../Jalnan.ttf') format('truetype');
}
@import "./header-login-true.css";
@import "./header-login-wait.css";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

.header-form {
  position: sticky;
  /* position: relative; */
  /* z-index: 3; */
  /* background-color: white; */
  width: 100%;
  height: 30%;
  display: block;
}

.header-null-form {
  width: 33.3%;
  height: 100%;
  border: 5px green solid;
}

.login-window-form {
  width: 33.3%;
  height: 100%;
  display: flex;
  border: #FBB032 5px solid;
}

.header-top-box {
  width: 100%;
  height: 70%;
  display: flex;
  border-bottom: 1px rgb(161, 161, 161) solid;
  /* margin-bottom: 5px; */
  background-color: white;
  border: 5px red solid;

}

.header-bottom-box {
  display: flex;
  /* position: sticky; */
  width: 100%;
  height: 30%;
  border: chocolate 5px solid;
  /* margin-left: 5%;
  margin-top: 3%; */
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  align-items: center;
  /* margin-left:10px;
  margin-right:10px; */
  /* justify-content: flex-start; */

  background-color: white;
}

.header-category-btn {
  display: inline-block;
  /* margin-top: 15px; */
  /* margin-bottom: 15px; */
  border: 0;
  background-color: transparent;
  font-size: 17px;
  color: #404552;
  font-weight: bolder;
  padding: 0;
  border: coral 5px solid;
  /* font-family: 'neon'; */
}

.header-category-btn:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  border-bottom: #FBB032 1px solid;
}

.header-logo-form {
  width: 33.3%;
  height: 100%;
  /* margin-left: 200px; */
  /* justify-content: center;
  align-items: center;
  text-align: center; */
}

.header-logo-img {
  /* position: sticky; */
  width: 100%;
  height: 100%;
  /* margin-left: 60%;
  margin-top: 10px; */
  border: 5px blue solid;
}

.header-right-big-box {
  display: flex;
  /* margin-right: 30px; */
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


.header-bottom-box div {
  margin-left: 40px;
  margin-right: 40px;
  
}
.header-bottom-box p {
  /* font-family: Helvetica; */
  margin-top : 8px;
  margin-bottom: 5px;
  color: #9badc7;
  font-size: 13px;
  font-weight: bolder;
  
}
