
@media all and (min-width:600px) {
.login-true-form {
  display: inline-block;
  width: 33%;
  height: 100%;
}

.login-success-msg1 {
  display: block;
  width: 30%;
  height: 100%;
  padding-left: 30%;
  font-size: 1.3vw;
  color: rgb(109, 109, 170);
  font-weight: bolder;
  margin-top: 4.5vh;
}
.login-success-msg2 {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 0.8vw;
  color: rgb(109, 109, 170);
  font-weight: bolder;
}

.header-myrfg-btn {
  background-color: white;
  border: none;
  cursor: pointer;
  margin-top: 2vh;
  font-size: 1vw;
}
.header-myrfg-btn-text {
  transition: all 0.5s;
  opacity: 0;
}
.header-myrfg-btn:hover .header-myrfg-btn-text {
  max-height: 3vh;
  opacity: 1;
}

.logout-move-mainpage-btn {
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 1vw;
  margin-top: 2.5vh;
}
.logout-move-mainpage-btn-text {
  transition: all 0.5s;
  opacity: 0;
}

.logout-move-mainpage-btn:hover .logout-move-mainpage-btn-text {
  max-height: 3vh;
  opacity: 1;
  margin-top: 1vh;
}

.header-logout-btn {
  width: 23%;
  height: 100%;
  /* padding: 0;
  margin-top: 1%; */
}

.header-right-big-box {
  width: 100%;
  height: 100%;
}

.header-move-rfgpage-btn {
  width: 23%;
  height: 100%;
}

.header-myrfg-btn img {
  width: 80px;
  height: 70px;
  /* width: 75%;
  height: 80%;
  cursor: pointer;
  margin-left: 2vw;
  margin-bottom: 1.5vh; */
}

.logout-move-mainpage-btn img {
  width: 45px;
  height: 55px;
  background-color: #9baec8;
  border-radius: 20px;
  /* width: 40%;
  height: 80%;
  margin-top: 20%;
  cursor: pointer; */
}
}

@media all and (max-width:600px) {
  .login-success-msg1{
    margin-right: 10px;
    text-align: center;
    justify-content: center;
    display: block;  
    height: 100%;
    color: rgb(109, 109, 170);
    font-weight: bolder;
  }
  .header-myrfg-btn {
    display: none;
  }
  .header-logout-btn{
    display: none;
  }
.login-success-msg2{
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 0.8vw;
  color: rgb(109, 109, 170);
  font-weight: bolder;
}
.login-true-form {
  display: inline-block; 
  width: 33%;
  height: 100%;
}
.header-myrfg-btn-text {
    transition: all 0.5s;
    opacity: 0;
}
.header-myrfg-btn:hover .header-myrfg-btn-text {
  max-height: 3vh;
  opacity: 1;
}

.logout-move-mainpage-btn {
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 1vw;
  margin-top: 2vh;
}
.logout-move-mainpage-btn-text {
  transition: all 0.5s;
  opacity: 0;
}
.logout-move-mainpage-btn:hover .logout-move-mainpage-btn-text{
  max-height: 3vh;
  opacity: 1;
  margin-top: 1vh;
}
.header-right-big-box {
  width: 100%;
  height: 100%;
}

.header-move-rfgpage-btn{
  display: none;
  width: 23%;
  height: 100%;
}

.header-myrfg-btn img {
  width: 80px;
  height: 70px;
  /* width: 75%;
  height: 80%;
  cursor: pointer;
  margin-left: 2vw;
  margin-bottom: 1.5vh; */
}

.logout-move-mainpage-btn img{
  width: 60px;
  height: 60px;
  background-color: 
  #9baec8;
  border-radius: 20px;
  /* width: 40%;
  height: 80%;
  margin-top: 20%;
  cursor: pointer; */
}
}


