@font-face {
    font-family: 'neon';
    src: url('../../../Jalnan.ttf') format('truetype');
}

@media all and (max-width: 600px) {
.igd_main_div{
    color: #333333;
    flex: 10;
    height: 100vh;
    /* background-color: transparent; */

    padding-top: 3%;
}
.igd_left_in_box{
    
}

.igd_content_div{
    text-align: center;
    padding-top: 20px;

}

.igd_header_title_form {
    font-weight: 700;
    font-size: 25px;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'neon';
    color: rgba(1, 1, 1, 0.75);
}

.igd_header_sub_form {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 13px;
    width: 100%;
    height: 50%;
    margin-top: 1%;
    align-items: center;
    /* 저기 */
    color: rgba(1, 1, 1, 0.6);
}

.igd_body_div{ 
    display: flex;
    height:100%;
}

.igd_body_color{
    height: 100%;

}

.igd_img_div{
    width: 33.33%;
    flex-wrap: wrap;
}

.igd_img_div_box{
    width: 12vh;
    height: 12vh;
}

.idg_body_three{
    padding: 3%;
    display: flex;
    height: 23%;
}

.igd_img_div_text{
    height: 2vh;
    font-size: large;
}

.igd_left_box{
    width: 50%;
}

.igd_box_left_top_1{
    display: flex;

    align-content: center;
    align-items: center;
}

.igd_box_1{
    width: 40%;
    height: 90%;
}

.igd_box_1_content{
    flex-wrap: wrap;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.igd_box_img_form {
    width: 80%;
    font-size: 0.5vw;
    /* font-family: 'neon'; */
}

.igd_box_img{
    width: 52.98px;
    height: 52.98px;
    margin-bottom: 8px
}

.igd_right_box{
    width: 50%;
}

.igd_box_right_top_1{
    /* margin-left: 2.5vh;
    margin-right: 2.5vh; */
}


.igd_box_2_all{
    height: 100%;
}

.igd_box_2{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.igd_box_2_content{

    border-radius: 4vh;
    background-color: rgb(171, 228, 248);
    border: 3px solid black;
}

.igd_box_top1_img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-size: 0.5vw;
    /* font-family: 'neon'; */
}

.igd_box_1_cover{
    display: flex;
    flex-direction: column;
    width: 92%;
    height: 100%;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    align-items: center;
}
}

@media all and (min-width: 600px) {
.igd_main_div{
    color: #333333;
    flex: 10;

    height: 100vh;
    /* background-color: transparent; */
    padding: 2%;
    padding-top: 3%;
}
.igd_left_in_box{
    padding: 2vh;
}


.igd_content_div{
    text-align: center;

    padding : 20%;
    height: 87vh;
    padding-top: 2%;
    border-radius: 4vh;
}

.igd_header_title_form {
    font-weight: 700;
    font-size: 1.8vw;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'neon';
    color: rgba(1, 1, 1, 0.75);
}

.igd_header_sub_form {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 1vw;
    width: 100%;
    height: 50%;
    margin-top: 1%;
    align-items: center;
    /* 저기 */
    color: rgba(1, 1, 1, 0.6);
}

.igd_body_div{ 
    height: 90%;
}

.igd_body_color{
    border-radius: 4vh;

    background-color: rgb(223, 239, 250);
    height: 100%;
    border: 3px solid black;
}

.igd_img_div{
    width: 33.33%;
    flex-wrap: wrap;
}

.igd_img_div_box{
    width: 12vh;
    height: 12vh;
}

.idg_body_three{
    padding: 3%;
    display: flex;
    height: 23%;
}

.igd_img_div_text{
    height: 2vh;
    font-size: large;
}

.igd_body_div{
    display: flex;
    height:100%;
    padding:1%
}

.igd_left_box{
    width: 50%;
}

.igd_box_left_top_1{

    height: 15vh;
    display: flex;
    align-content: center;
    align-items: center;
}

.igd_box_1{
    width: 46%;
    height: 100%;
    border-radius: 4vh;
    background-color: rgb(171, 228, 248);;
    border: 3px solid black;
}

.igd_box_1_content{
    flex-wrap: wrap;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.igd_box_img_form {
    width: 80%;

    font-size: 0.5vw;
    /* font-family: 'neon'; */
}

.igd_box_img{
    width: 4vw;
    height: 8vh;
    margin-bottom: 10px
}

.igd_right_box{
    width: 50%;
}

.igd_box_right_top_1{
    height: 22vh;
    padding: 2vh;
    margin-left: 2.5vh;
    margin-right: 2.5vh;
    padding-bottom: 3vh;
    padding-top: 4vh ;
}


.igd_box_2_all{
    height: 100%;
}

.igd_box_2{
    height: 100%;
    border-radius: 4vh;
    background-color: rgb(171, 228, 248);
    border: 3px solid black;
    display: flex;
}

.igd_box_2_content{

    border-radius: 4vh;
    background-color: rgb(171, 228, 248);
    border: 3px solid black;
}

.igd_box_top1_img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-size: 0.5vw;
    /* font-family: 'neon'; */
}
.igd_box_1_cover{
    
    display: flex;
    width: 92%;
    height: 100%;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
}
}